# -*- conf -*-

[BUILD]
# C++ variables
CC = gcc
CXX = g++
LINKERFORPROGRAMS = g++
INCDIRFLAGS = -I$SCIPION_HOME/software/include
LIBDIRFLAGS = -L$SCIPION_HOME/software/lib
CCFLAGS = -std=c99
CXXFLAGS =  -std=c++11
LINKFLAGS = 

# Java variables
JAVA_HOME = /usr/lib/jvm/java-8-oracle
JAVA_BINDIR = %(JAVA_HOME)s/bin
JAVAC = %(JAVA_BINDIR)s/javac
JAR = %(JAVA_BINDIR)s/jar
JNI_CPPPATH = %(JAVA_HOME)s/include:%(JAVA_HOME)s/include/linux

# Modules to compile
DEBUG = False

